@media only screen 
and (min-width : 500px) {
	#savedTextsHolder{
		font-size: 12px;
	}
	#reviseButton{
		font-size: 20px;
	}
}

@media only screen 
and (min-width : 750px) {
	#savedTextsHolder{
		font-size: 15px;
	}
	#reviseButton{
		font-size: 25px;
	}
}

@media only screen 
and (min-width : 1090px) {
	#savedTextsHolder{
		font-size: 17px;
	}
	#reviseButton{
		font-size: 27px;
	}
}

@media only screen 
and (min-width : 1160px) {
	#savedTextsHolder{
		font-size: 18px;
	}
	#reviseButton{
		font-size: 30px;
	}
}

@media only screen 
and (min-width : 1400px) {
	#savedTextsHolder{
		font-size: 18px;
	}
	#reviseButton{
		font-size: 30px;
	}
}

@media only screen 
and (min-width : 1475px) {
	#savedTextsHolder{
		font-size: 18px;
	}
	#reviseButton{
		font-size: 30px;
	}
}

@media only screen 
and (min-width : 1500px) {
	#savedTextsHolder{
		font-size: 20px;
	}
	#reviseButton{
		font-size: 33px;
	}
}

@media only screen 
and (min-width : 1620px) {
/* Styles */
	#savedTextsHolder{
		font-size: 22px;
	}
	#reviseButton{
		font-size: 35px;
	}
}