/* big screens */
@media only screen 
and (min-width : 750px) {
	#savedTextsHolder{
		font-size: 15px;
	}
}

@media only screen 
and (min-width : 1090px) {
	#savedTextsHolder{
		font-size: 17px;
	}
}

@media only screen 
and (min-width : 1160px) {
	#savedTextsHolder{
		font-size: 18px;
	}
}

@media only screen 
and (min-width : 1400px) {
	#savedTextsHolder{
		font-size: 18px;
	}
}

@media only screen 
and (min-width : 1475px) {
	#savedTextsHolder{
		font-size: 18px;
	}
}

@media only screen 
and (min-width : 1500px) {
	#savedTextsHolder{
		font-size: 20px;
	}
}

@media only screen 
and (min-width : 1620px) {
/* Styles */
	#savedTextsHolder{
		font-size: 22px;
	}
}