* {
	margin: 0 auto; 
	padding: 0; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: transparent;
	font-family: georgia serif;
}

body {
	overflow: hidden;
}

textarea, input {
	outline: none; 
}

ul {
   list-style-type: none;
}

li {
	font-family: monospace;
	padding-bottom: 1px;
	padding-left: 10px;
}

#documentLevel{
	display: none;
	background-color: transparent;
	overflow: visible;
}

#inputLevel{
	background-color: transparent;
	overflow: hidden;
}

#paragraphLevel{
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#sentenceLevel{
	display: none;
}

#loadingLevel{
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#loadingHolder{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}

#loading{
	font-family: monospace;
	display: inline-block;
	text-align: center;
	font-size: 4em;
}

#outer{
	position: absolute;
	width: 100%;
	height: 55%;
	top: 22.5%;
	left: 0%;
	font-size: 1.75em;
}

#currentParagraph{
	margin: 0 auto;
	padding: 1.5%;
	width: 90%;
	height: 100%;
	background-color: #FDFDFD;;
	border: 1px solid black;
	-moz-box-shadow:4px 4px 3px 0px #777777;
	-webkit-box-shadow:4px 4px 3px 0px #777777;
	box-shadow:4px 4px 3px 0px #777777;
}

#paragraphSizer{
	margin: 0 auto;
	padding: 1.5%;
	width: 90%;
	height: 100%;
	background-color: black;
	color: white;
	opacity:0;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#paragraphEdit{
	background-color: transparent;
	color: black;
	overflow: hidden;
	width: 100%;
	height:100%;
	resize: none;
	font-family: inherit;
    font-size: inherit;
	border: 0;
}

#sentenceLevel{
	width: 100%;
	height: 100%;
	background-color: white;
	top: 0;
	left: 0;
}

#upper{
	position: absolute;
	width: 100%;
	top: 10%;
	left: 0%;
	height: 10%;
	font-size: 3em;
}

#previousLine{
	margin: 0 auto;
	width: 50%;
	height: 100%;
	background-color: Ivory;
	overflow: hidden;
	opacity: 0;
}

#middle{
	position: absolute;
	width: 100%;
	height: 40%;
	top: 30%;
	left: 0%;
	font-size: 3em;
}

#currentLine{
	margin: 0 auto;
	width: 90%;
	height: 100%;
	background-color: transparent;
	color: black;
}

#lineSizer{
	margin: 0 auto;
	width: 90%;
	height: 100%;
	background-color: gray;
	opacity:0;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#sentenceEdit{
	background-color: transparent;
	color: black;
	overflow: hidden;
	width: 100%;
	height:100%;
	resize: none;
	font-family: inherit;
    font-size: inherit;
	border: 0;
}

#lower{
	position: absolute;
	width: 100%;
	bottom: 10%;
	left: 0%;
	height: 10%;
	font-size: 3em;
}

#nextLine{
	margin: 0 auto;
	width: 50%;
	height: 100%;
	background-color: #FAFAFA;
	overflow: hidden;
	opacity: 0;
}

#inputHolder{
	position: absolute;
	top: 20%;
	left: 22.5%;
	width: 55%;
	height: 40%;
	border: 1px solid black;
	background-color: black;
	color: white;
}

#savedTextsHolder{
	font-family: monospace;
	font-size: 22px;
	position: absolute;
	display: inline-block;
	top: 60%;
	width: 55%;
	left: 22.5%;
}

#savedTextsLeft{
	position: absolute;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 100%;
}
#savedTextsRight{
	position: absolute;
	width: 25%;
	left: 75%;
	font-size: 35px;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 100%;
}

#inputText{
	width: 100%;
	height: 100%;
	resize: none;
	font-family: inherit;
    font-size: 1.2em;
	border: 0;
	color: white;
}

#titleHolder {
	width: 100%;
	text-align: center;
}

#title {
	font-family: monospace;
	display: inline-block;
	text-align: center;
	font-size: 70px;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

#buttonHolder{
	font-family: monospace;
	position: absolute;
	left: 0;
	top: 80%;
	padding-top: 2.5%;
	width: 100%;
	text-align: center;
}

.menuSpan {
	font-family: monospace;
	background-color: black;
	color: white;
	padding-right: 5px;
}

#reviseButton{
	font-family: monospace;
	display: inline-block;
	background-color: black;
	color: white;
	text-align: center;
	padding-left: .3%;
	padding-right: .3%;
	font-size: 35px;
	cursor: pointer;
}

#textHolder{
	width: 40%;
	font-size: 1.35em;
	text-align: justify;
	padding-top: 5%;
	overflow: visible !important;
}

#textDisplay{
	overflow: visible !important;
}

